<!-- Boilerplate for ejs mate -->
<%-layout('layouts/boilerplate')%>

<!-- experience section starts -->
<section class="experience" id="experience">

    <h2 class="heading"><i class="fas fa-briefcase"></i> Experience</h2>
    <div class="quote">
        <span>every experience in your life is being orchestrated to teach you something you need to know to move
            forward.</span>
    </div>

    <div class="timeline">


        <div class="timeline">

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>Automation Tester</h2>
                    </div>
                    <div class="desc">
                        <h3>Python Selenium| Microservice App(Manufacturing)</h3>
                        <p>Sep 2022 - Present</p>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Automation Tester</h2>
                    </div>
                    <div class="desc">
                        <h3>Robotframework | Support</h3>
                        <p>Apr 2022 - Nov 2022</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>API Testing</h2>
                    </div>
                    <div class="desc">
                        <h3>Sharing and support team member | Sharring & Support</h3>
                        <p>Apr 2022 - Nov 2022</p>
                    </div>
                </div>
            </div>
            
            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Docker & Azure</h2>
                    </div>
                    <div class="desc">
                        <h3>Manage docker image of test repository | Jfrog - Docker - Azure</h3>
                        <p>June 2021 - Apr 2022</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>Electron app</h2>
                    </div>
                    <div class="desc">
                        <h3>Automate test for Electron app | Electron</h3>
                        <p>Jan 2022 - Nov 2022</p>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Checkly App</h2>
                    </div>
                    <div class="desc">
                        <h3>Write & monitor playwrite script | Checkly</h3>
                        <p>Jan 2022 - Nov 2022</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>Testcomplete with Jenkins</h2>
                    </div>
                    <div class="desc">
                        <h3>Sharing and support team member | Sharring & Support</h3>
                        <p>Apr 2022 - Nov 2022</p>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Performance testing use Robotframework</h2>
                    </div>
                    <div class="desc">
                        <h3>Performance test for WinApp | WinApp</h3>
                        <p>Sep 2020 - Jan 2021</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>Automated test tool</h2>
                    </div>
                    <div class="desc">
                        <h3>Automateed test tool for customer | C# multiple platform</h3>
                        <p>Fed 2020 - Jan 2021</p>
                    </div>
                </div>
            </div>
          

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Python</h2>
                    </div>
                    <div class="desc">
                        <h3>Python & Django | Build webapp to support Internal team</h3>
                        <p>Jan 2019 - Feb 2020</p>
                    </div>
                </div>
            </div>

            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>Nodejs</h2>
                    </div>
                    <div class="desc">
                        <h3>Nodejs & Express | Build webapp to support Internal team</h3>
                        <p>Jan 2019 - Feb 2020</p>
                    </div>
                </div>
            </div>

            <div class="container right">
                <div class="content">
                    <div class="tag">
                        <h2>Automation Tester</h2>
                    </div>
                    <div class="desc">
                        <h3>Java Selenium | Working in Project</h3>
                        <p>Jan 2018 - Feb 2020</p>
                    </div>
                </div>
            </div>
    
            <div class="container left">
                <div class="content">
                    <div class="tag">
                        <h2>SIP</h2>
                    </div>
                    <div class="desc">
                        <h3>SIP Protocol & SIPp | Training</h3>
                        <p>Nov 2017 - Jan 2018</p>
                    </div>
                </div>
            </div>
    
            
    
           
            
        </div>
    </div>

    <div class="morebtn" data-aos="fade-in" data-aos-duration="1000">
        <a href="/" class="btn">
            <i class="fas fa-arrow-left"></i>
            <span>Back to Home</span>
        </a>
    </div>

    </div>
</section>

<!-- scroll top btn -->
<a href="#experience" class="fas fa-angle-up" id="scroll-top"></a>
<!-- scroll back to top -->